.footer {
    width: 100%;
    background-color: #FACF39;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
}

.footer > img {
    width: 60px;
    height: 60px;
}

.arrows {
    display: flex;
}

.arrow1, .arrow2, .arrow3 {
    border: solid white;
    border-width: 0px 4px 4px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

@media screen and (max-width: 450px){
    .footer > img {
        width: 40px;
        height: 40px;
    }
    .arrow1, .arrow2, .arrow3 {
        border-width: 0px 2px 2px 0;
    }
}

