.footer {
    width: 100%;
    background-color: #FACF39;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer > img {
    width: 60px;
    height: 60px;
}

.arrows {
    display: flex;
}

.arrow1, .arrow2, .arrow3 {
    border: solid white;
    border-width: 0px 4px 4px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    cursor: pointer;
  }

@media screen and (max-width: 750px) {

    
    .footer {
        height: 120px;
    }

    .footer > img {
        width: 50px;
        height: 50px;
    }
}
    

@media screen and (max-width: 580px) {
    .footer {
        height: 100px;
    }
}

@media screen and (max-width: 450px) {
    .footer {
        height: 110px;
    }

    .footer > img {
        width: 40px;
        height: 40px;
    }

    .arrow1, .arrow2, .arrow3 {
        border-width: 0px 2px 2px 0;
    }
}

@media screen and (max-width: 340px) {

    .footer {
        height: 80px;
    }

    .footer > img {
        width: 35px;
        height: 35px;
    }

}
