.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -30px;
}

.profileImage {
    width: 40px;
    height: 40px;
}

.profileIcon {
    border-radius: 5px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    padding: 5px;
    margin: 50px 0px 10px 0px;
    background-color: #FACF39;
}

.profileDisplay {
    background-color: rgba(14, 12, 12, 0.268);
    width: 120px;
    height: 100px;
    border-radius: 5px;
    margin-top: 110px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toggle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;

}

.button {
    margin: 5px;
    padding: 5px;
    width: 50px;
    height: 20px;
    border: #FACF39 solid 3px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
}

.button-icon {
    padding: 2px;
    background-color: rgb(255, 245, 245);
    border-radius: 50%;
}
