.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.toggle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;

}

.button {
    margin: 5px;
    padding: 5px;
    width: 50px;
    height: 20px;
    border: #FACF39 solid 3px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
    user-select: none;
}

.button-icon {
    padding: 2px;
    background-color: rgb(255, 245, 245);
    border-radius: 50%;
    user-select: none;
}
