@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Press+Start+2P&display=swap');

.country2 {
    width: 500px;
    height: 500px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgb(27, 26, 26) solid 3px;
    border-left: none;
}

.input2Background {
    border-radius: 2px;
    height: 220px;
    position: absolute;
}

.input2 {
    resize: none;
    width: 350px;
    height: 200px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.805);
    padding: 10px;
    font-family: "Opensans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 9px;
    margin-top: -1px;
    word-wrap: break-word; 
    border: 2px solid #FACF39;
    position: absolute;
    margin-left: -170px;
}

.nativeCountryBackgroundTranslation {
    width: 370px;
    height: 220px;
    position: inherit;
    margin-right: -200px;
    margin-left: -170px;
    
}

.nativeCountryBackground {
    width: 500px;
    height: 500px;
    position: inherit;
}


