@import url('https://fonts.googleapis.com/css2?family=Kranky&family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Press+Start+2P&display=swap');

.languageDescription {
    height: 300px;
    text-align: center;
}

.language {
    font-family: "Kranky", serif;
    font-size: 50px;
    margin: 10px;
    user-select: none;
}

.languageHistory {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}

.textHistory {
    width: 800px;
    height: 150px;
    background-color: red;
    border-radius: 5px;
    margin-right: 150px;
    display: flex;
    justify-content: center;
}

.descriptionImage {
    width: 100px;
    height: 100px;
    margin-right: 50px;
}

.description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    margin-top: 40px;
    color: white;
    font-size: 15px;
    width: 750px;
    text-shadow: black solid 1px;
}