@import url('https://fonts.googleapis.com/css2?family=Kranky&family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Press+Start+2P&display=swap');

.languageDescription {
    text-align: center;
    
}

.language {
    font-family: "Lilita One", sans-serif;
    font-size: 50px;
    user-select: none;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 65px;

}

.languageHistory {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.textHistory {
    min-height: 100px;
    background-color: red;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 155px;
    margin-right: 20px;
    padding: 20px;
}

.descriptionImage {
    width: 100px;
    height: 100px;
    margin-right: 50px;
    margin-left: 15px;
}

.description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    width: 750px;
    text-shadow: black solid 1px;
    margin-bottom: 0px;
    margin-top: 0px;
}

@media only screen and (max-width: 780px){
    .languageHistory{
        flex-direction: column;
        gap: 30px;
    }
    .descriptionImage{
        margin-right: 0px;
        margin-left: 0px;
    }
    .textHistory {
        margin-left: 0px;
        margin-right: 0px;
        width: 290px;
    }
}