@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Kranky&family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Press+Start+2P&display=swap');

.Review {
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

.languageInformations {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}

.challenge {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 203px;
}

.stars{
    margin-top: 5px;
    margin-bottom: 10px;
}

.challengeImage, .planet, .reviewImage {
    width: 100px;
    height: 100px;
}

.monthsDuration {
    background-color: red;
    width: 150px;
    border-radius: 10px;
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    user-select: none;
}

.tempDuration{
    margin-bottom: 0px;
    margin-top: 0px;
}

.monthsImage {
    width: 30px;
    height: 30px;
}

.toplang{
    margin-top: 10px;
    margin-bottom: 10px;
}

.reachness, .planetOrbit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reachness {
    height: 203px;

}

.countries3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.countrySpeaker1{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: #FACF39 solid 3px;
    cursor: pointer;
}

.countrySpeaker2, .countrySpeaker3, .countrySpeaker4 {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: #FACF39 solid 3px;
    margin-left: 5px;
    cursor: pointer;
}

.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 203px;
}

.reviewText {
    font-family: "Hanalei Fill", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    width: 310px;
    margin-bottom: 0px;
    margin-top: 20px;
    text-align: center;
}

@media only screen and (max-width:780px){
    .languageInformations {
        display: flex;
        align-items: center;
        margin-bottom: 100px;
        flex-direction: column;
        gap: 20px;
    }
}