@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Hepta+Slab:wght@1..900&family=Kranky&family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Press+Start+2P&display=swap');


.nativeLanguage {
    background-color: rgb(27, 26, 26);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: aliceblue;
    text-transform: uppercase;
    font-family: "Hepta Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.choiceNativeLanguage {
    margin-top: -100px;
}

.nativeCountries {
    background-color: #FACF39;
    height: 20px;
    width: 600px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -150px;
}

.nativeCountries:hover {
    height: 200px;
    transition: 0.6s;
    background-color: transparent;
}


.nativeCountries:hover > .nativeCountry {
    display: block;
    transition: 0.3s;
   
}

.nativeCountries:not(:hover) {
    height: 20px; 
    background-color: #FACF39;
    transition: 0.6s;
}

.nativeCountries:not(:hover) .nativeCountry {
    display: none;
    transition: 0.3s;
}

.profileDisplayNative {
    margin-right: -1000px;
}

.nativeSymbol {
    margin-top: -350px;
}
